* {
    box-sizing: border-box;
    outline: 0
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.5rem;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
